<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Portfolio" %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <title><%= current_page.data.title || "NAME OF MY SITE | MY TITLE" %></title>
    <meta name="description" content="Description of my portfolio site">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="NAME OF MY SITE | MY TITLE" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="THE_URL_OF_MY_PORTFOLIO" />
    <meta property="og:image" content="<%= image_path 'MY_OG_IMAGE_WITH_RIGHT_SIZE.png' %>" />
    <meta property="og:description" content="Description of my portfolio site" />
    <meta property="og:site_name" content="NAME OF MY SITE | MY TITLE" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@twitter_handle">
    <meta name="twitter:title" content="NAME OF MY SITE | MY TITLE">
    <meta name="twitter:description" content="Description of my portfolio site">
    <meta name="twitter:creator" content="@twitter_handle">
    <meta name="twitter:image:src" content="<%= image_path 'MY_OG_IMAGE_WITH_RIGHT_SIZE.png' %>">
  </head>
  <body>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
